@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

h2 {
    font-family: 'Poppins', sans-serif;
    color: orange;
    text-align: -webkit-center;
    padding-right: 35px;
}

h3 {
    padding: 15px 0px 0px 0px;
}

h4 {
    color: orange;
    text-align: -webkit-center;
    padding-right: 35px;
    font-family: 'Poppins', sans-serif;
}

h5 {
    padding-top: 25px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #312f2d;
}

.tippy {
    color: orange !important;
    background-color: black !important;
}

.badgeIcon{
    height:4rem;
}

.badgeContainer {
    background-color: #312f2d;
    border-color: orange;
    border-style: inset;
    width: 75%;
    
}

.badgeCol {
    align-content: center;
}

.tab {
background-color: black!important;
color:orange !important;
font-family: Arial;
}

.nav-item{
    background-color: black!important;
color:orange !important;
border-color: orange !important;
}

.tabs{
    border-color:orange !important;
}

.tabs .active{
    background-color: orange !important;
    color: black !important;
    font-family: Arial;
    border-color:orange !important;
}

.cont-tab{
    border:solid !important;
    border: orange !important;
}

.material-icons-outlined {
    color: red !important;
    cursor: pointer;
    padding: 25px 20px 0px 0px;
}

.movieTitle{
    cursor: pointer;
}

.icon{
    color:rgb(173, 182, 230) !important;
    cursor:pointer;
}

.carousel-border{
    border: solid;
    border-color: orange !important;
}

.profileCarousel{
    width: 256px !important;
    margin-right: 0px !important;
}

.movieRow:hover {
    background-color: dimgray;
}
