@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

h2 {
    font-family: 'Poppins', sans-serif;
    color: orange;
}

.tippy {
    color: orange !important;
}

.badgeIcon{
    height:4rem;
}

.tab {
background-color: black!important;
color:orange !important;
font-family: Arial;
}

.nav-item{
    background-color: black!important;
color:orange !important;
border-color: orange !important;
}

.tabs{
    border-color:orange !important;
}

.tabs .active{
    background-color: orange !important;
    color: black !important;
    font-family: Arial;
    border-color:orange !important;
}
.cont-tab{
    border:solid !important;
    border: orange !important;
}


.material-icons-outlined{
    color:red !important;
    cursor:pointer;
}

.icon{
    color:rgb(173, 182, 230) !important;
    cursor:pointer;
}
