/* @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* html,
body {
  height: 100%;
}

body {
  background: radial-gradient(ellipse at top left, #334455 0%, #112233 100%);
  /* overflow: hidden; */
/* } */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

.wrapper {
  position: absolute;
  top: 100%;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  /* font: 300 30px/1 "Open Sans Condensed", sans-serif; */
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  animation: 50s credits linear infinite;
  font-family: 'Roboto Condensed', sans-serif;
}

.title {
    font-size: 4.5rem;
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    color:orange;    
}

.broughtToYou {
    font-size: 1.25rem;
    margin-bottom: 60px;
}

.devCreditsLinks {
    font-size: 2.25rem;
    margin-bottom: 100px;
}

.logoDesigner {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.artistName {
  font-size: 1.4rem;
  line-height: 1.5;
  
}

.creditsLinks, .devCreditsLinks {
  color: orange;
  font-weight: 300;
}

.creditsLinks:hover, .devCreditsLinks:hover {
  color: #ffc107 !important;
  text-decoration: none;
}

.thanks {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

@keyframes credits {
  0% {
    top: 80%;
  }
  100% {
    top: -195%;
  }
}
