.carousel-border{
    border: solid;
    border-color: orange !important;
}

.card-desc{
    background-color: black !important;
    color:silver !important;
}
.col {
    background-color: black;
border: solid;
border-color: white !important;
} 

.row{
    background-color: black;
    border: solid;
    border-color: white !important;  
}