.nav-footer {
  background-color: black;
  border-top: solid;
  border-color: orange;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  padding-bottom: 2.5rem; 
}
.credit-link {
  color: white;
}

.cr-link {
  color: white;
}

.foot-cont{
    position: relative;
    min-height: 100vh;
}