.nav-footer {
  background-color: black;
  border-top: solid;
  border-color: orange;
  margin-top: 50px;
}
.credit-link {
  color: white;
}

.credit-link:hover {
  color: orange;
}

.cr-link {
  color: white;
}

.cr-link:hover {
  color:orange;
}
