.container-border{
    border: solid;
    border-color: orange !important;
}
.form-text{
    color: Orange !important;
}
.sub-btn{
    font-family:Arial, Helvetica, sans-serif
}
.reg-btn{
    font-family:Arial, Helvetica, sans-serif
}
.form-text{
    color:orange !important;
}